*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family:
    Inter Arial,
    Helvetica,
    sans-serif;
}

.page {
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 100vh;
}

.separator {
  block-size: 1px;
  margin-block: 2px;
  margin-inline: 10px;

  border: none;

  background-color: var(--color-smoke);
}

.table-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  inline-size: 100%;

  &__row {
    display: flex;
    justify-content: space-between;

    padding-block-end: 4px;
    border-block-end: 1px solid var(--color-smoke);
  }

  &__header {
    font-weight: bold;
  }
}
