<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="page auth-page">
        <form class="auth-form" onsubmit="false">
            <h2 class="auth-form__title">Регистрация</h2>

            <div class="auth-form__fields">
                {{> textbox label="Почта" type="email" name="email"}}
                {{> textbox label="Логин" type="text" name="login"}}
                {{> textbox label="Имя" type="text" name="first_name"}}
                {{> textbox label="Фамилия" type="text" name="second_name"}}
                {{> textbox label="Телефон" type="tel" name="phone"}}
                {{> textbox label="Пароль" type="password" name="password"}}
                {{> textbox label="Пароль (ещё раз)" type="password"}}
            </div>

            <div class="auth-form__btns">
                <a class="btn btn--primary btn--flex btn--xl" href="#/chat">Зарегистрироваться</a>
                <a class="btn btn--ghost btn--flex btn--xl" href="#/login">Войти</a>
            </div>
        </form>
    </div>
</body>

</html>
