.edit-window {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: color-mod(var(--color-black) alpha(60%));

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;

    inline-size: 500px;
    min-block-size: 300px;
    padding: 40px;

    border: 1px solid var(--color-smoke);
    border-radius: 10px;

    background-color: var(--color-white);
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__btns {
    display: flex;
    gap: 20px;
  }
}
