<form class='edit-window'>
  <div class='edit-window__content'>
    <div class='edit-window__fields'>
      {{#each fields}}
        {{{Textbox label=label type=type}}}
      {{/each}}
    </div>

    <div class='edit-window__btns'>
      <button id='editWindowCancel' class='btn btn--ghost btn--wide btn--l'>Отмена</button>
      <button id='editWindowSave' class='btn btn--primary btn--wide btn--l'>Сохранить</button>
    </div>
  </div>
</form>
