.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sectionTitle {
  color: var(--color-shadow);
}

.usersList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.window {
  inline-size: 600px;
  block-size: 95vh;
}

.notFound {
  margin-block: 10px;
  margin-inline: auto;
}
