.search {
  display: block;

  inline-size: 100%;
  padding: 10px;

  border: none;
  border-radius: 5px;

  background-color: var(--color-smoke);

  outline: none;
  accent-color: var(--color-primary);
}
