.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;

  max-inline-size: 500px;
  min-block-size: 100vh;
  margin-inline: auto;
}

.navigation {
  display: flex;
  gap: 20px;

  inline-size: 100%;
  margin-block-start: 40px;
}

.avatar {
  inline-size: 120px;
  block-size: 120px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 40px;

  inline-size: 100%;
}

.editBtns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exit {
  color: var(--color-error);
}
